Pillow
transformers>=4.35.0 
torch 
accelerate 
bitsandbytes 
langchain-huggingface
gradio>=4.0.0
langchain
langchain-community
langchain-core
langchain-anthropic
langchain-google-genai
langchain-huggingface
langchain-groq
langchain-tavily
langchain-chroma
langgraph
huggingface_hub
python-dotenv
graphviz
trafilatura==2.0.0
pydantic==2.10.6
langchain-community
langchain_openai
mistralai
langchain-mistralai